html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #17212c 0%, #000000 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1805px 927px #fff, 1195px 3443px #fff, 1446px 813px #fff,
    741px 2183px #fff, 1145px 2781px #fff, 3142px 2711px #fff,
    2685px 1424px #fff, 672px 3192px #fff, 763px 1949px #fff, 3190px 892px #fff,
    351px 2866px #fff, 1728px 956px #fff, 3547px 774px #fff, 3273px 794px #fff,
    1440px 3556px #fff, 3822px 2586px #fff, 782px 534px #fff, 473px 538px #fff,
    1238px 2411px #fff, 1194px 159px #fff, 1577px 3085px #fff, 287px 1192px #fff,
    1192px 633px #fff, 3751px 207px #fff, 3583px 610px #fff, 3645px 1718px #fff,
    566px 1118px #fff, 2394px 3690px #fff, 222px 2841px #fff, 2481px 3230px #fff,
    3532px 293px #fff, 3596px 2599px #fff, 1247px 1476px #fff,
    3166px 3091px #fff, 3786px 1872px #fff, 3141px 3193px #fff,
    3614px 3374px #fff, 3653px 3096px #fff, 383px 3678px #fff, 321px 219px #fff,
    856px 2079px #fff, 1469px 689px #fff, 1981px 612px #fff, 3521px 2440px #fff,
    38px 1214px #fff, 203px 2328px #fff, 2848px 2853px #fff, 3681px 2863px #fff,
    970px 984px #fff, 1103px 2018px #fff, 3016px 513px #fff, 954px 879px #fff,
    1013px 1138px #fff, 1253px 154px #fff, 1121px 1660px #fff,
    1934px 3565px #fff, 1454px 1360px #fff, 499px 3253px #fff,
    3464px 3508px #fff, 1946px 547px #fff, 3835px 2110px #fff,
    2088px 1673px #fff, 1933px 170px #fff, 356px 642px #fff, 455px 1435px #fff,
    3603px 356px #fff, 166px 1821px #fff, 1568px 2372px #fff, 3683px 2505px #fff,
    2544px 3344px #fff, 2279px 2860px #fff, 2995px 3113px #fff,
    3781px 2520px #fff, 163px 2333px #fff, 2702px 2027px #fff, 470px 2056px #fff,
    438px 960px #fff, 1847px 2160px #fff, 407px 1398px #fff, 102px 200px #fff,
    1352px 1444px #fff, 1845px 3012px #fff, 2863px 2612px #fff, 2414px 33px #fff,
    1322px 2400px #fff, 1859px 1526px #fff, 1479px 3380px #fff, 598px 100px #fff,
    917px 1791px #fff, 873px 1813px #fff, 2327px 251px #fff, 2358px 1896px #fff,
    958px 1604px #fff, 2135px 269px #fff, 2769px 3784px #fff, 3459px 155px #fff,
    80px 2744px #fff, 964px 2504px #fff, 3688px 1308px #fff, 2240px 1933px #fff,
    866px 2990px #fff, 281px 1112px #fff, 1355px 1604px #fff, 1045px 1050px #fff,
    3306px 2205px #fff, 2241px 3150px #fff, 1120px 758px #fff, 2072px 214px #fff,
    3597px 1890px #fff, 1829px 1612px #fff, 1815px 734px #fff,
    3407px 3127px #fff, 1691px 2980px #fff, 1190px 3122px #fff, 877px 599px #fff,
    3325px 2301px #fff, 3223px 667px #fff, 18px 964px #fff, 407px 1406px #fff,
    3008px 957px #fff, 3720px 2844px #fff, 2673px 3813px #fff,
    2829px 3164px #fff, 1682px 3150px #fff, 2742px 2529px #fff, 58px 1197px #fff,
    304px 3043px #fff, 884px 1967px #fff, 3606px 2528px #fff, 3624px 880px #fff,
    1480px 2709px #fff, 3281px 2462px #fff, 2575px 349px #fff,
    1496px 1343px #fff, 3330px 752px #fff, 1294px 435px #fff, 2471px 853px #fff,
    1149px 490px #fff, 1743px 3172px #fff, 2910px 1798px #fff,
    1611px 2791px #fff, 1267px 29px #fff, 1823px 1234px #fff, 2945px 2124px #fff,
    3062px 1287px #fff, 1058px 390px #fff, 84px 2346px #fff, 2564px 3440px #fff,
    3756px 3690px #fff, 3411px 2304px #fff, 1772px 3425px #fff, 20px 3118px #fff,
    2777px 2804px #fff, 2131px 3568px #fff, 362px 2017px #fff, 861px 3791px #fff,
    2789px 3101px #fff, 2159px 1878px #fff, 2657px 2474px #fff,
    298px 3107px #fff, 244px 3153px #fff, 461px 1754px #fff, 2702px 535px #fff,
    3416px 2008px #fff, 866px 2256px #fff, 114px 2254px #fff, 3358px 2143px #fff,
    2383px 439px #fff, 2499px 2351px #fff, 2016px 2548px #fff, 248px 220px #fff,
    1844px 142px #fff, 1498px 3113px #fff, 379px 2530px #fff, 208px 873px #fff,
    596px 2356px #fff, 826px 3209px #fff, 193px 2501px #fff, 2493px 3400px #fff,
    1183px 851px #fff, 545px 2965px #fff, 3182px 1584px #fff, 2874px 3507px #fff,
    3801px 1500px #fff, 1485px 595px #fff, 1983px 24px #fff, 496px 586px #fff,
    233px 2041px #fff, 3006px 3269px #fff, 3823px 2341px #fff, 3170px 19px #fff,
    2358px 3578px #fff, 1627px 672px #fff, 1666px 1641px #fff,
    1644px 2975px #fff, 1461px 3505px #fff, 2190px 2898px #fff,
    2282px 3656px #fff, 517px 798px #fff, 366px 1274px #fff, 1058px 2684px #fff,
    3634px 3377px #fff, 1738px 3787px #fff, 181px 3158px #fff, 2478px 922px #fff,
    350px 2798px #fff, 2224px 931px #fff, 330px 2942px #fff, 1176px 699px #fff,
    7px 1182px #fff, 2403px 3295px #fff, 1208px 3687px #fff, 3219px 994px #fff,
    3154px 386px #fff, 177px 75px #fff, 1544px 395px #fff, 2038px 821px #fff,
    3815px 489px #fff, 575px 2667px #fff, 155px 2549px #fff, 2741px 2938px #fff,
    2765px 3746px #fff, 2301px 1357px #fff, 3285px 1032px #fff, 74px 268px #fff,
    480px 3193px #fff, 3453px 3715px #fff, 795px 1570px #fff, 351px 2347px #fff,
    2691px 2719px #fff, 161px 200px #fff, 880px 19px #fff, 295px 2969px #fff,
    1442px 646px #fff, 2126px 3524px #fff, 2728px 3212px #fff,
    3635px 3039px #fff, 1264px 1246px #fff, 3246px 3571px #fff,
    208px 1218px #fff, 1907px 2094px #fff, 3547px 1936px #fff, 630px 2707px #fff,
    1437px 1421px #fff, 3667px 3468px #fff, 1553px 3676px #fff,
    1924px 2603px #fff, 3531px 1665px #fff, 706px 2552px #fff, 2119px 616px #fff,
    301px 1666px #fff, 805px 2274px #fff, 2713px 2140px #fff, 3089px 1607px #fff,
    2486px 2810px #fff, 1633px 1985px #fff, 3236px 2532px #fff,
    2100px 3353px #fff, 2311px 2268px #fff, 2045px 1837px #fff,
    953px 3133px #fff, 2568px 3761px #fff, 2539px 1648px #fff, 2640px 642px #fff,
    1359px 1699px #fff, 1954px 2304px #fff, 2930px 2424px #fff,
    1941px 2633px #fff, 533px 2472px #fff, 3634px 1113px #fff, 445px 2374px #fff,
    3407px 2931px #fff, 2315px 290px #fff, 138px 2857px #fff, 2461px 1180px #fff,
    2046px 1534px #fff, 2207px 190px #fff, 921px 3097px #fff, 436px 2969px #fff,
    2629px 3121px #fff, 2836px 198px #fff, 16px 2425px #fff, 2194px 3037px #fff,
    1559px 2539px #fff, 251px 2205px #fff, 3834px 2648px #fff, 2856px 487px #fff,
    3408px 1762px #fff, 2832px 844px #fff, 2448px 3617px #fff,
    2308px 2544px #fff, 2874px 753px #fff, 225px 343px #fff, 2697px 2737px #fff,
    843px 1878px #fff, 3672px 676px #fff, 2358px 2949px #fff, 1131px 3164px #fff,
    627px 1323px #fff, 1530px 158px #fff, 1881px 700px #fff, 552px 1667px #fff,
    240px 3160px #fff, 1055px 2956px #fff, 940px 2896px #fff, 1229px 881px #fff,
    3045px 2926px #fff, 1117px 2886px #fff, 1326px 3407px #fff,
    3046px 3722px #fff, 1850px 1950px #fff, 3580px 1108px #fff,
    524px 3395px #fff, 1669px 394px #fff, 931px 320px #fff, 2851px 338px #fff,
    2612px 926px #fff, 3595px 2824px #fff, 753px 2188px #fff, 1052px 2544px #fff,
    2220px 2618px #fff, 471px 714px #fff, 113px 1307px #fff, 1137px 3453px #fff,
    2492px 73px #fff, 3577px 3376px #fff, 1192px 2173px #fff, 1360px 1729px #fff,
    3822px 1083px #fff, 3722px 2167px #fff, 1402px 1855px #fff,
    2241px 3087px #fff, 2992px 2369px #fff, 521px 1839px #fff,
    1850px 1402px #fff, 3026px 607px #fff, 3277px 1459px #fff, 1095px 135px #fff,
    2278px 3097px #fff, 298px 2087px #fff, 3565px 3058px #fff, 2913px 702px #fff,
    1798px 1331px #fff, 1977px 96px #fff, 1341px 1253px #fff, 461px 3355px #fff,
    1777px 777px #fff, 1258px 3451px #fff, 3705px 1068px #fff,
    2217px 1448px #fff, 3655px 3188px #fff, 560px 3331px #fff,
    2988px 1273px #fff, 370px 1399px #fff, 1550px 2518px #fff,
    3364px 1819px #fff, 1515px 3184px #fff, 542px 701px #fff, 3475px 670px #fff,
    1205px 3414px #fff, 116px 2101px #fff, 1735px 2601px #fff,
    3662px 1815px #fff, 1250px 2118px #fff, 523px 3140px #fff, 3210px 276px #fff,
    149px 3828px #fff, 677px 3080px #fff, 2486px 1201px #fff, 908px 575px #fff,
    478px 1851px #fff, 159px 677px #fff, 3041px 661px #fff, 426px 1752px #fff,
    1835px 297px #fff, 461px 1720px #fff, 2002px 2605px #fff, 522px 2433px #fff,
    3320px 2208px #fff, 3153px 1165px #fff, 3823px 1769px #fff,
    2262px 1235px #fff, 3483px 927px #fff, 2141px 622px #fff, 1416px 82px #fff,
    3328px 3611px #fff, 442px 182px #fff, 3230px 296px #fff, 1037px 1822px #fff,
    1345px 1434px #fff, 3697px 3287px #fff, 778px 918px #fff, 2689px 1876px #fff,
    2022px 1362px #fff, 1787px 2991px #fff, 3168px 209px #fff,
    1168px 2344px #fff, 1682px 2418px #fff, 2290px 3689px #fff,
    2263px 2573px #fff, 1986px 1369px #fff, 1563px 1399px #fff,
    2089px 1508px #fff, 1748px 108px #fff, 2852px 2577px #fff,
    3368px 1778px #fff, 820px 1699px #fff, 318px 3702px #fff, 2907px 1714px #fff,
    3618px 2403px #fff, 3400px 92px #fff, 2521px 1233px #fff, 2088px 2538px #fff,
    309px 3784px #fff, 389px 1611px #fff, 192px 389px #fff, 1103px 120px #fff,
    2900px 460px #fff, 1718px 1724px #fff, 2398px 455px #fff, 3457px 281px #fff,
    1477px 1532px #fff, 2584px 3610px #fff, 1090px 1043px #fff,
    3002px 1501px #fff, 2131px 1999px #fff, 820px 2214px #fff, 150px 1564px #fff,
    2729px 968px #fff, 465px 1493px #fff, 1902px 1623px #fff, 2362px 1756px #fff,
    224px 503px #fff, 97px 861px #fff, 306px 3786px #fff, 1444px 3655px #fff,
    2088px 1696px #fff, 2847px 1861px #fff, 345px 1779px #fff,
    3466px 3810px #fff, 1438px 355px #fff, 2679px 1891px #fff, 3478px 719px #fff,
    2187px 594px #fff, 1621px 353px #fff, 2486px 1357px #fff, 1383px 1895px #fff,
    1016px 3575px #fff, 8px 116px #fff, 1527px 3832px #fff, 2173px 3126px #fff,
    2758px 2109px #fff, 3285px 828px #fff, 3604px 213px #fff, 1822px 1242px #fff,
    1926px 3160px #fff, 1718px 1167px #fff, 2782px 1121px #fff,
    551px 3288px #fff, 420px 903px #fff, 1094px 1763px #fff, 2272px 2675px #fff,
    3005px 1916px #fff, 3520px 3755px #fff, 3334px 3650px #fff,
    3053px 1666px #fff, 1198px 3286px #fff, 3801px 426px #fff,
    3310px 3467px #fff, 1422px 2962px #fff, 1119px 1077px #fff,
    3065px 2351px #fff, 3279px 2106px #fff, 3418px 2965px #fff,
    207px 2750px #fff, 3418px 681px #fff, 2440px 2555px #fff, 2792px 272px #fff,
    2822px 3563px #fff, 123px 1772px #fff, 866px 3656px #fff, 3488px 1362px #fff,
    3697px 1928px #fff, 785px 896px #fff, 2753px 3592px #fff, 348px 822px #fff,
    3790px 1219px #fff, 3683px 771px #fff, 1852px 2113px #fff, 463px 1493px #fff,
    505px 3670px #fff, 3317px 1803px #fff, 911px 2282px #fff, 254px 3569px #fff,
    3502px 3492px #fff, 3214px 1892px #fff, 3248px 2035px #fff,
    1105px 3469px #fff, 1215px 841px #fff, 297px 196px #fff, 270px 1558px #fff,
    1882px 2052px #fff, 1206px 3724px #fff, 506px 2468px #fff,
    1266px 3145px #fff, 1323px 2731px #fff, 727px 1640px #fff,
    3157px 2986px #fff, 548px 1845px #fff, 1224px 2458px #fff, 2642px 475px #fff,
    2123px 2846px #fff, 1310px 1056px #fff, 3797px 469px #fff, 929px 2843px #fff,
    3630px 111px #fff, 3418px 1919px #fff, 2514px 3422px #fff, 2106px 308px #fff,
    299px 490px #fff, 1790px 1632px #fff, 3139px 813px #fff, 272px 2036px #fff,
    358px 746px #fff, 1838px 2297px #fff, 3379px 1889px #fff, 2147px 3544px #fff,
    3457px 2005px #fff, 3795px 458px #fff, 2042px 952px #fff, 3728px 2644px #fff,
    495px 2814px #fff, 2506px 1237px #fff, 516px 704px #fff, 2083px 3072px #fff,
    1674px 2393px #fff, 3113px 1063px #fff, 330px 937px #fff, 569px 2713px #fff,
    2887px 3731px #fff, 2520px 3740px #fff, 3684px 3195px #fff,
    2727px 1970px #fff, 3740px 1018px #fff, 2789px 3158px #fff,
    2019px 1648px #fff, 2049px 483px #fff, 3137px 3313px #fff, 3265px 937px #fff,
    2755px 1778px #fff, 1810px 3815px #fff, 2703px 150px #fff,
    3701px 2129px #fff, 2165px 188px #fff, 782px 49px #fff, 3333px 2910px #fff,
    3223px 1831px #fff, 1243px 579px #fff, 2360px 2657px #fff,
    3836px 2728px #fff, 2927px 3125px #fff, 1034px 431px #fff,
    1175px 1181px #fff, 1764px 2680px #fff, 64px 879px #fff, 91px 2798px #fff,
    1057px 61px #fff, 3199px 1952px #fff, 2044px 2729px #fff, 2105px 3065px #fff,
    2481px 2288px #fff, 663px 3288px #fff, 1965px 464px #fff, 1398px 2940px #fff,
    941px 1270px #fff, 3238px 1307px #fff, 522px 3621px #fff, 2758px 3535px #fff,
    2951px 1770px #fff, 1306px 1993px #fff, 3172px 1063px #fff,
    2491px 3132px #fff, 1852px 1585px #fff, 3329px 2953px #fff,
    3662px 1090px #fff, 3045px 634px #fff, 3546px 2465px #fff,
    1420px 2041px #fff, 1828px 1320px #fff, 3490px 59px #fff, 2404px 1775px #fff,
    1387px 3131px #fff, 2071px 2420px #fff, 3045px 3687px #fff,
    938px 3320px #fff, 2324px 3741px #fff, 2808px 592px #fff, 479px 140px #fff,
    3240px 1177px #fff, 2583px 1195px #fff, 2461px 991px #fff,
    3110px 1099px #fff, 3171px 588px #fff, 3084px 28px #fff, 501px 3498px #fff,
    2294px 3596px #fff, 2600px 2063px #fff, 1674px 74px #fff, 2825px 1740px #fff,
    1321px 1374px #fff, 1740px 3327px #fff, 378px 1059px #fff, 184px 181px #fff,
    2103px 600px #fff, 2760px 2445px #fff, 3722px 2825px #fff, 1004px 214px #fff,
    3314px 1856px #fff, 1640px 2578px #fff, 3837px 3791px #fff,
    2262px 3312px #fff, 2940px 1218px #fff, 323px 1487px #fff, 366px 2403px #fff,
    1554px 2136px #fff, 2763px 686px #fff, 13px 1536px #fff, 501px 1435px #fff,
    135px 1131px #fff, 3068px 2118px #fff, 3208px 2868px #fff, 2798px 293px #fff,
    2894px 1509px #fff, 933px 1536px #fff, 3374px 2007px #fff,
    3335px 1911px #fff, 1797px 940px #fff, 1375px 2334px #fff,
    2756px 2174px #fff, 2836px 3149px #fff, 640px 1969px #fff, 732px 3150px #fff,
    333px 2322px #fff, 2460px 726px #fff, 2813px 2990px #fff, 2008px 2502px #fff,
    1709px 1906px #fff, 3349px 3280px #fff, 1429px 2621px #fff,
    3567px 329px #fff, 910px 3285px #fff, 2287px 179px #fff, 3051px 1564px #fff,
    3347px 2619px #fff, 857px 1620px #fff, 2055px 1021px #fff,
    3768px 3158px #fff, 159px 551px #fff, 2262px 1056px #fff, 822px 1137px #fff,
    2848px 2145px #fff, 464px 354px #fff, 2310px 3265px #fff, 2364px 1420px #fff,
    2025px 1756px #fff, 1835px 169px #fff, 3256px 1360px #fff, 230px 1839px #fff,
    3506px 3392px #fff, 2459px 525px #fff, 1013px 817px #fff, 2433px 575px #fff,
    3522px 2324px #fff, 1199px 3559px #fff, 1878px 1544px #fff,
    576px 2754px #fff, 858px 241px #fff, 3408px 1167px #fff, 1556px 414px #fff,
    1717px 1930px #fff, 1765px 1504px #fff, 2791px 3003px #fff,
    1024px 3050px #fff, 3298px 3543px #fff, 865px 1587px #fff,
    3037px 1820px #fff, 3138px 1697px #fff, 150px 3704px #fff,
    2938px 2656px #fff, 3347px 3736px #fff, 224px 29px #fff, 1949px 152px #fff,
    1245px 3811px #fff, 1330px 17px #fff, 1101px 1620px #fff, 390px 2707px #fff,
    2840px 3692px #fff, 3591px 1381px #fff, 2181px 2541px #fff,
    1646px 3462px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1805px 927px #fff, 1195px 3443px #fff, 1446px 813px #fff,
    741px 2183px #fff, 1145px 2781px #fff, 3142px 2711px #fff,
    2685px 1424px #fff, 672px 3192px #fff, 763px 1949px #fff, 3190px 892px #fff,
    351px 2866px #fff, 1728px 956px #fff, 3547px 774px #fff, 3273px 794px #fff,
    1440px 3556px #fff, 3822px 2586px #fff, 782px 534px #fff, 473px 538px #fff,
    1238px 2411px #fff, 1194px 159px #fff, 1577px 3085px #fff, 287px 1192px #fff,
    1192px 633px #fff, 3751px 207px #fff, 3583px 610px #fff, 3645px 1718px #fff,
    566px 1118px #fff, 2394px 3690px #fff, 222px 2841px #fff, 2481px 3230px #fff,
    3532px 293px #fff, 3596px 2599px #fff, 1247px 1476px #fff,
    3166px 3091px #fff, 3786px 1872px #fff, 3141px 3193px #fff,
    3614px 3374px #fff, 3653px 3096px #fff, 383px 3678px #fff, 321px 219px #fff,
    856px 2079px #fff, 1469px 689px #fff, 1981px 612px #fff, 3521px 2440px #fff,
    38px 1214px #fff, 203px 2328px #fff, 2848px 2853px #fff, 3681px 2863px #fff,
    970px 984px #fff, 1103px 2018px #fff, 3016px 513px #fff, 954px 879px #fff,
    1013px 1138px #fff, 1253px 154px #fff, 1121px 1660px #fff,
    1934px 3565px #fff, 1454px 1360px #fff, 499px 3253px #fff,
    3464px 3508px #fff, 1946px 547px #fff, 3835px 2110px #fff,
    2088px 1673px #fff, 1933px 170px #fff, 356px 642px #fff, 455px 1435px #fff,
    3603px 356px #fff, 166px 1821px #fff, 1568px 2372px #fff, 3683px 2505px #fff,
    2544px 3344px #fff, 2279px 2860px #fff, 2995px 3113px #fff,
    3781px 2520px #fff, 163px 2333px #fff, 2702px 2027px #fff, 470px 2056px #fff,
    438px 960px #fff, 1847px 2160px #fff, 407px 1398px #fff, 102px 200px #fff,
    1352px 1444px #fff, 1845px 3012px #fff, 2863px 2612px #fff, 2414px 33px #fff,
    1322px 2400px #fff, 1859px 1526px #fff, 1479px 3380px #fff, 598px 100px #fff,
    917px 1791px #fff, 873px 1813px #fff, 2327px 251px #fff, 2358px 1896px #fff,
    958px 1604px #fff, 2135px 269px #fff, 2769px 3784px #fff, 3459px 155px #fff,
    80px 2744px #fff, 964px 2504px #fff, 3688px 1308px #fff, 2240px 1933px #fff,
    866px 2990px #fff, 281px 1112px #fff, 1355px 1604px #fff, 1045px 1050px #fff,
    3306px 2205px #fff, 2241px 3150px #fff, 1120px 758px #fff, 2072px 214px #fff,
    3597px 1890px #fff, 1829px 1612px #fff, 1815px 734px #fff,
    3407px 3127px #fff, 1691px 2980px #fff, 1190px 3122px #fff, 877px 599px #fff,
    3325px 2301px #fff, 3223px 667px #fff, 18px 964px #fff, 407px 1406px #fff,
    3008px 957px #fff, 3720px 2844px #fff, 2673px 3813px #fff,
    2829px 3164px #fff, 1682px 3150px #fff, 2742px 2529px #fff, 58px 1197px #fff,
    304px 3043px #fff, 884px 1967px #fff, 3606px 2528px #fff, 3624px 880px #fff,
    1480px 2709px #fff, 3281px 2462px #fff, 2575px 349px #fff,
    1496px 1343px #fff, 3330px 752px #fff, 1294px 435px #fff, 2471px 853px #fff,
    1149px 490px #fff, 1743px 3172px #fff, 2910px 1798px #fff,
    1611px 2791px #fff, 1267px 29px #fff, 1823px 1234px #fff, 2945px 2124px #fff,
    3062px 1287px #fff, 1058px 390px #fff, 84px 2346px #fff, 2564px 3440px #fff,
    3756px 3690px #fff, 3411px 2304px #fff, 1772px 3425px #fff, 20px 3118px #fff,
    2777px 2804px #fff, 2131px 3568px #fff, 362px 2017px #fff, 861px 3791px #fff,
    2789px 3101px #fff, 2159px 1878px #fff, 2657px 2474px #fff,
    298px 3107px #fff, 244px 3153px #fff, 461px 1754px #fff, 2702px 535px #fff,
    3416px 2008px #fff, 866px 2256px #fff, 114px 2254px #fff, 3358px 2143px #fff,
    2383px 439px #fff, 2499px 2351px #fff, 2016px 2548px #fff, 248px 220px #fff,
    1844px 142px #fff, 1498px 3113px #fff, 379px 2530px #fff, 208px 873px #fff,
    596px 2356px #fff, 826px 3209px #fff, 193px 2501px #fff, 2493px 3400px #fff,
    1183px 851px #fff, 545px 2965px #fff, 3182px 1584px #fff, 2874px 3507px #fff,
    3801px 1500px #fff, 1485px 595px #fff, 1983px 24px #fff, 496px 586px #fff,
    233px 2041px #fff, 3006px 3269px #fff, 3823px 2341px #fff, 3170px 19px #fff,
    2358px 3578px #fff, 1627px 672px #fff, 1666px 1641px #fff,
    1644px 2975px #fff, 1461px 3505px #fff, 2190px 2898px #fff,
    2282px 3656px #fff, 517px 798px #fff, 366px 1274px #fff, 1058px 2684px #fff,
    3634px 3377px #fff, 1738px 3787px #fff, 181px 3158px #fff, 2478px 922px #fff,
    350px 2798px #fff, 2224px 931px #fff, 330px 2942px #fff, 1176px 699px #fff,
    7px 1182px #fff, 2403px 3295px #fff, 1208px 3687px #fff, 3219px 994px #fff,
    3154px 386px #fff, 177px 75px #fff, 1544px 395px #fff, 2038px 821px #fff,
    3815px 489px #fff, 575px 2667px #fff, 155px 2549px #fff, 2741px 2938px #fff,
    2765px 3746px #fff, 2301px 1357px #fff, 3285px 1032px #fff, 74px 268px #fff,
    480px 3193px #fff, 3453px 3715px #fff, 795px 1570px #fff, 351px 2347px #fff,
    2691px 2719px #fff, 161px 200px #fff, 880px 19px #fff, 295px 2969px #fff,
    1442px 646px #fff, 2126px 3524px #fff, 2728px 3212px #fff,
    3635px 3039px #fff, 1264px 1246px #fff, 3246px 3571px #fff,
    208px 1218px #fff, 1907px 2094px #fff, 3547px 1936px #fff, 630px 2707px #fff,
    1437px 1421px #fff, 3667px 3468px #fff, 1553px 3676px #fff,
    1924px 2603px #fff, 3531px 1665px #fff, 706px 2552px #fff, 2119px 616px #fff,
    301px 1666px #fff, 805px 2274px #fff, 2713px 2140px #fff, 3089px 1607px #fff,
    2486px 2810px #fff, 1633px 1985px #fff, 3236px 2532px #fff,
    2100px 3353px #fff, 2311px 2268px #fff, 2045px 1837px #fff,
    953px 3133px #fff, 2568px 3761px #fff, 2539px 1648px #fff, 2640px 642px #fff,
    1359px 1699px #fff, 1954px 2304px #fff, 2930px 2424px #fff,
    1941px 2633px #fff, 533px 2472px #fff, 3634px 1113px #fff, 445px 2374px #fff,
    3407px 2931px #fff, 2315px 290px #fff, 138px 2857px #fff, 2461px 1180px #fff,
    2046px 1534px #fff, 2207px 190px #fff, 921px 3097px #fff, 436px 2969px #fff,
    2629px 3121px #fff, 2836px 198px #fff, 16px 2425px #fff, 2194px 3037px #fff,
    1559px 2539px #fff, 251px 2205px #fff, 3834px 2648px #fff, 2856px 487px #fff,
    3408px 1762px #fff, 2832px 844px #fff, 2448px 3617px #fff,
    2308px 2544px #fff, 2874px 753px #fff, 225px 343px #fff, 2697px 2737px #fff,
    843px 1878px #fff, 3672px 676px #fff, 2358px 2949px #fff, 1131px 3164px #fff,
    627px 1323px #fff, 1530px 158px #fff, 1881px 700px #fff, 552px 1667px #fff,
    240px 3160px #fff, 1055px 2956px #fff, 940px 2896px #fff, 1229px 881px #fff,
    3045px 2926px #fff, 1117px 2886px #fff, 1326px 3407px #fff,
    3046px 3722px #fff, 1850px 1950px #fff, 3580px 1108px #fff,
    524px 3395px #fff, 1669px 394px #fff, 931px 320px #fff, 2851px 338px #fff,
    2612px 926px #fff, 3595px 2824px #fff, 753px 2188px #fff, 1052px 2544px #fff,
    2220px 2618px #fff, 471px 714px #fff, 113px 1307px #fff, 1137px 3453px #fff,
    2492px 73px #fff, 3577px 3376px #fff, 1192px 2173px #fff, 1360px 1729px #fff,
    3822px 1083px #fff, 3722px 2167px #fff, 1402px 1855px #fff,
    2241px 3087px #fff, 2992px 2369px #fff, 521px 1839px #fff,
    1850px 1402px #fff, 3026px 607px #fff, 3277px 1459px #fff, 1095px 135px #fff,
    2278px 3097px #fff, 298px 2087px #fff, 3565px 3058px #fff, 2913px 702px #fff,
    1798px 1331px #fff, 1977px 96px #fff, 1341px 1253px #fff, 461px 3355px #fff,
    1777px 777px #fff, 1258px 3451px #fff, 3705px 1068px #fff,
    2217px 1448px #fff, 3655px 3188px #fff, 560px 3331px #fff,
    2988px 1273px #fff, 370px 1399px #fff, 1550px 2518px #fff,
    3364px 1819px #fff, 1515px 3184px #fff, 542px 701px #fff, 3475px 670px #fff,
    1205px 3414px #fff, 116px 2101px #fff, 1735px 2601px #fff,
    3662px 1815px #fff, 1250px 2118px #fff, 523px 3140px #fff, 3210px 276px #fff,
    149px 3828px #fff, 677px 3080px #fff, 2486px 1201px #fff, 908px 575px #fff,
    478px 1851px #fff, 159px 677px #fff, 3041px 661px #fff, 426px 1752px #fff,
    1835px 297px #fff, 461px 1720px #fff, 2002px 2605px #fff, 522px 2433px #fff,
    3320px 2208px #fff, 3153px 1165px #fff, 3823px 1769px #fff,
    2262px 1235px #fff, 3483px 927px #fff, 2141px 622px #fff, 1416px 82px #fff,
    3328px 3611px #fff, 442px 182px #fff, 3230px 296px #fff, 1037px 1822px #fff,
    1345px 1434px #fff, 3697px 3287px #fff, 778px 918px #fff, 2689px 1876px #fff,
    2022px 1362px #fff, 1787px 2991px #fff, 3168px 209px #fff,
    1168px 2344px #fff, 1682px 2418px #fff, 2290px 3689px #fff,
    2263px 2573px #fff, 1986px 1369px #fff, 1563px 1399px #fff,
    2089px 1508px #fff, 1748px 108px #fff, 2852px 2577px #fff,
    3368px 1778px #fff, 820px 1699px #fff, 318px 3702px #fff, 2907px 1714px #fff,
    3618px 2403px #fff, 3400px 92px #fff, 2521px 1233px #fff, 2088px 2538px #fff,
    309px 3784px #fff, 389px 1611px #fff, 192px 389px #fff, 1103px 120px #fff,
    2900px 460px #fff, 1718px 1724px #fff, 2398px 455px #fff, 3457px 281px #fff,
    1477px 1532px #fff, 2584px 3610px #fff, 1090px 1043px #fff,
    3002px 1501px #fff, 2131px 1999px #fff, 820px 2214px #fff, 150px 1564px #fff,
    2729px 968px #fff, 465px 1493px #fff, 1902px 1623px #fff, 2362px 1756px #fff,
    224px 503px #fff, 97px 861px #fff, 306px 3786px #fff, 1444px 3655px #fff,
    2088px 1696px #fff, 2847px 1861px #fff, 345px 1779px #fff,
    3466px 3810px #fff, 1438px 355px #fff, 2679px 1891px #fff, 3478px 719px #fff,
    2187px 594px #fff, 1621px 353px #fff, 2486px 1357px #fff, 1383px 1895px #fff,
    1016px 3575px #fff, 8px 116px #fff, 1527px 3832px #fff, 2173px 3126px #fff,
    2758px 2109px #fff, 3285px 828px #fff, 3604px 213px #fff, 1822px 1242px #fff,
    1926px 3160px #fff, 1718px 1167px #fff, 2782px 1121px #fff,
    551px 3288px #fff, 420px 903px #fff, 1094px 1763px #fff, 2272px 2675px #fff,
    3005px 1916px #fff, 3520px 3755px #fff, 3334px 3650px #fff,
    3053px 1666px #fff, 1198px 3286px #fff, 3801px 426px #fff,
    3310px 3467px #fff, 1422px 2962px #fff, 1119px 1077px #fff,
    3065px 2351px #fff, 3279px 2106px #fff, 3418px 2965px #fff,
    207px 2750px #fff, 3418px 681px #fff, 2440px 2555px #fff, 2792px 272px #fff,
    2822px 3563px #fff, 123px 1772px #fff, 866px 3656px #fff, 3488px 1362px #fff,
    3697px 1928px #fff, 785px 896px #fff, 2753px 3592px #fff, 348px 822px #fff,
    3790px 1219px #fff, 3683px 771px #fff, 1852px 2113px #fff, 463px 1493px #fff,
    505px 3670px #fff, 3317px 1803px #fff, 911px 2282px #fff, 254px 3569px #fff,
    3502px 3492px #fff, 3214px 1892px #fff, 3248px 2035px #fff,
    1105px 3469px #fff, 1215px 841px #fff, 297px 196px #fff, 270px 1558px #fff,
    1882px 2052px #fff, 1206px 3724px #fff, 506px 2468px #fff,
    1266px 3145px #fff, 1323px 2731px #fff, 727px 1640px #fff,
    3157px 2986px #fff, 548px 1845px #fff, 1224px 2458px #fff, 2642px 475px #fff,
    2123px 2846px #fff, 1310px 1056px #fff, 3797px 469px #fff, 929px 2843px #fff,
    3630px 111px #fff, 3418px 1919px #fff, 2514px 3422px #fff, 2106px 308px #fff,
    299px 490px #fff, 1790px 1632px #fff, 3139px 813px #fff, 272px 2036px #fff,
    358px 746px #fff, 1838px 2297px #fff, 3379px 1889px #fff, 2147px 3544px #fff,
    3457px 2005px #fff, 3795px 458px #fff, 2042px 952px #fff, 3728px 2644px #fff,
    495px 2814px #fff, 2506px 1237px #fff, 516px 704px #fff, 2083px 3072px #fff,
    1674px 2393px #fff, 3113px 1063px #fff, 330px 937px #fff, 569px 2713px #fff,
    2887px 3731px #fff, 2520px 3740px #fff, 3684px 3195px #fff,
    2727px 1970px #fff, 3740px 1018px #fff, 2789px 3158px #fff,
    2019px 1648px #fff, 2049px 483px #fff, 3137px 3313px #fff, 3265px 937px #fff,
    2755px 1778px #fff, 1810px 3815px #fff, 2703px 150px #fff,
    3701px 2129px #fff, 2165px 188px #fff, 782px 49px #fff, 3333px 2910px #fff,
    3223px 1831px #fff, 1243px 579px #fff, 2360px 2657px #fff,
    3836px 2728px #fff, 2927px 3125px #fff, 1034px 431px #fff,
    1175px 1181px #fff, 1764px 2680px #fff, 64px 879px #fff, 91px 2798px #fff,
    1057px 61px #fff, 3199px 1952px #fff, 2044px 2729px #fff, 2105px 3065px #fff,
    2481px 2288px #fff, 663px 3288px #fff, 1965px 464px #fff, 1398px 2940px #fff,
    941px 1270px #fff, 3238px 1307px #fff, 522px 3621px #fff, 2758px 3535px #fff,
    2951px 1770px #fff, 1306px 1993px #fff, 3172px 1063px #fff,
    2491px 3132px #fff, 1852px 1585px #fff, 3329px 2953px #fff,
    3662px 1090px #fff, 3045px 634px #fff, 3546px 2465px #fff,
    1420px 2041px #fff, 1828px 1320px #fff, 3490px 59px #fff, 2404px 1775px #fff,
    1387px 3131px #fff, 2071px 2420px #fff, 3045px 3687px #fff,
    938px 3320px #fff, 2324px 3741px #fff, 2808px 592px #fff, 479px 140px #fff,
    3240px 1177px #fff, 2583px 1195px #fff, 2461px 991px #fff,
    3110px 1099px #fff, 3171px 588px #fff, 3084px 28px #fff, 501px 3498px #fff,
    2294px 3596px #fff, 2600px 2063px #fff, 1674px 74px #fff, 2825px 1740px #fff,
    1321px 1374px #fff, 1740px 3327px #fff, 378px 1059px #fff, 184px 181px #fff,
    2103px 600px #fff, 2760px 2445px #fff, 3722px 2825px #fff, 1004px 214px #fff,
    3314px 1856px #fff, 1640px 2578px #fff, 3837px 3791px #fff,
    2262px 3312px #fff, 2940px 1218px #fff, 323px 1487px #fff, 366px 2403px #fff,
    1554px 2136px #fff, 2763px 686px #fff, 13px 1536px #fff, 501px 1435px #fff,
    135px 1131px #fff, 3068px 2118px #fff, 3208px 2868px #fff, 2798px 293px #fff,
    2894px 1509px #fff, 933px 1536px #fff, 3374px 2007px #fff,
    3335px 1911px #fff, 1797px 940px #fff, 1375px 2334px #fff,
    2756px 2174px #fff, 2836px 3149px #fff, 640px 1969px #fff, 732px 3150px #fff,
    333px 2322px #fff, 2460px 726px #fff, 2813px 2990px #fff, 2008px 2502px #fff,
    1709px 1906px #fff, 3349px 3280px #fff, 1429px 2621px #fff,
    3567px 329px #fff, 910px 3285px #fff, 2287px 179px #fff, 3051px 1564px #fff,
    3347px 2619px #fff, 857px 1620px #fff, 2055px 1021px #fff,
    3768px 3158px #fff, 159px 551px #fff, 2262px 1056px #fff, 822px 1137px #fff,
    2848px 2145px #fff, 464px 354px #fff, 2310px 3265px #fff, 2364px 1420px #fff,
    2025px 1756px #fff, 1835px 169px #fff, 3256px 1360px #fff, 230px 1839px #fff,
    3506px 3392px #fff, 2459px 525px #fff, 1013px 817px #fff, 2433px 575px #fff,
    3522px 2324px #fff, 1199px 3559px #fff, 1878px 1544px #fff,
    576px 2754px #fff, 858px 241px #fff, 3408px 1167px #fff, 1556px 414px #fff,
    1717px 1930px #fff, 1765px 1504px #fff, 2791px 3003px #fff,
    1024px 3050px #fff, 3298px 3543px #fff, 865px 1587px #fff,
    3037px 1820px #fff, 3138px 1697px #fff, 150px 3704px #fff,
    2938px 2656px #fff, 3347px 3736px #fff, 224px 29px #fff, 1949px 152px #fff,
    1245px 3811px #fff, 1330px 17px #fff, 1101px 1620px #fff, 390px 2707px #fff,
    2840px 3692px #fff, 3591px 1381px #fff, 2181px 2541px #fff,
    1646px 3462px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 2592px 243px #fff, 1266px 1408px #fff, 3420px 2558px #fff,
    2174px 3833px #fff, 1801px 3266px #fff, 3404px 3278px #fff,
    397px 3410px #fff, 3170px 3665px #fff, 3554px 3368px #fff,
    3832px 1774px #fff, 2838px 2501px #fff, 3396px 3307px #fff,
    222px 1282px #fff, 1034px 3703px #fff, 2722px 3464px #fff, 3046px 799px #fff,
    3153px 2319px #fff, 2486px 2872px #fff, 1494px 1179px #fff,
    710px 3718px #fff, 2094px 2782px #fff, 3123px 989px #fff, 2462px 3807px #fff,
    209px 248px #fff, 3653px 1917px #fff, 1315px 2907px #fff, 983px 19px #fff,
    2252px 31px #fff, 693px 2727px #fff, 2120px 3522px #fff, 1732px 1033px #fff,
    2432px 1598px #fff, 599px 3649px #fff, 513px 494px #fff, 1034px 998px #fff,
    1766px 2210px #fff, 2767px 2720px #fff, 2516px 1285px #fff,
    2806px 1593px #fff, 1500px 3722px #fff, 2898px 214px #fff,
    2736px 1993px #fff, 3620px 2053px #fff, 2815px 1862px #fff,
    3792px 3010px #fff, 990px 1032px #fff, 2494px 584px #fff, 2128px 2756px #fff,
    1227px 1537px #fff, 2635px 2453px #fff, 1166px 2408px #fff,
    2393px 2749px #fff, 976px 3372px #fff, 2130px 525px #fff, 1485px 140px #fff,
    3305px 1750px #fff, 200px 1865px #fff, 2520px 1594px #fff, 744px 3202px #fff,
    3333px 1711px #fff, 1971px 440px #fff, 1429px 1699px #fff,
    3315px 1763px #fff, 3771px 1205px #fff, 2005px 877px #fff, 200px 875px #fff,
    3280px 750px #fff, 592px 1357px #fff, 3521px 2643px #fff, 1780px 2924px #fff,
    279px 2987px #fff, 1596px 1762px #fff, 2604px 2783px #fff, 3677px 315px #fff,
    3812px 3242px #fff, 1208px 3221px #fff, 3768px 2013px #fff, 134px 880px #fff,
    2121px 3577px #fff, 2295px 3554px #fff, 2005px 352px #fff, 2095px 22px #fff,
    1309px 565px #fff, 1731px 1742px #fff, 1796px 1693px #fff,
    2562px 1641px #fff, 156px 2973px #fff, 3524px 3093px #fff, 890px 37px #fff,
    2140px 1566px #fff, 3549px 3330px #fff, 2403px 1422px #fff,
    974px 1125px #fff, 691px 226px #fff, 3574px 1583px #fff, 2865px 3648px #fff,
    2256px 1501px #fff, 2928px 2407px #fff, 912px 115px #fff, 1198px 3818px #fff,
    3803px 3369px #fff, 604px 66px #fff, 3435px 346px #fff, 3680px 2984px #fff,
    314px 546px #fff, 3569px 2229px #fff, 1693px 441px #fff, 1984px 3565px #fff,
    1652px 2253px #fff, 1561px 3305px #fff, 865px 2557px #fff,
    3659px 3364px #fff, 2127px 372px #fff, 924px 3780px #fff, 591px 3222px #fff,
    1305px 1183px #fff, 473px 159px #fff, 2394px 2542px #fff, 828px 3255px #fff,
    2308px 3713px #fff, 2464px 1561px #fff, 2964px 3834px #fff,
    3218px 3106px #fff, 2798px 1879px #fff, 3041px 1400px #fff,
    2592px 2760px #fff, 3370px 3100px #fff, 488px 2482px #fff, 2215px 881px #fff,
    969px 3829px #fff, 3832px 536px #fff, 2493px 1128px #fff, 2895px 2342px #fff,
    119px 3019px #fff, 176px 3141px #fff, 1904px 3120px #fff, 1586px 946px #fff,
    127px 1792px #fff, 3743px 3071px #fff, 2364px 2390px #fff, 3771px 939px #fff,
    1032px 1264px #fff, 377px 1892px #fff, 508px 2270px #fff, 3614px 260px #fff,
    2461px 553px #fff, 3049px 3591px #fff, 1926px 2041px #fff, 3666px 243px #fff,
    1189px 3154px #fff, 1093px 279px #fff, 722px 754px #fff, 21px 3084px #fff,
    1471px 1798px #fff, 1745px 2524px #fff, 1518px 2075px #fff,
    1909px 1303px #fff, 3485px 1262px #fff, 2478px 2680px #fff,
    3790px 3747px #fff, 1289px 1124px #fff, 2189px 2623px #fff,
    1022px 3784px #fff, 2790px 1743px #fff, 651px 3326px #fff,
    1697px 3546px #fff, 3212px 1137px #fff, 1198px 2615px #fff,
    2347px 2005px #fff, 3532px 3593px #fff, 884px 2760px #fff,
    1705px 2188px #fff, 403px 3757px #fff, 1931px 575px #fff, 598px 1404px #fff,
    3075px 827px #fff, 142px 3136px #fff, 3201px 2453px #fff, 2532px 371px #fff,
    2534px 1694px #fff, 1545px 948px #fff, 2818px 3829px #fff,
    1704px 2473px #fff, 2395px 2608px #fff, 3740px 3802px #fff,
    345px 2816px #fff, 3773px 2429px #fff, 1051px 1565px #fff,
    1075px 1422px #fff, 1587px 3721px #fff, 3045px 662px #fff,
    1782px 1831px #fff, 2790px 716px #fff, 2966px 3236px #fff, 2659px 520px #fff,
    2804px 2736px #fff, 2848px 2663px #fff, 3534px 1069px #fff,
    3203px 1247px #fff, 3509px 529px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 2592px 243px #fff, 1266px 1408px #fff, 3420px 2558px #fff,
    2174px 3833px #fff, 1801px 3266px #fff, 3404px 3278px #fff,
    397px 3410px #fff, 3170px 3665px #fff, 3554px 3368px #fff,
    3832px 1774px #fff, 2838px 2501px #fff, 3396px 3307px #fff,
    222px 1282px #fff, 1034px 3703px #fff, 2722px 3464px #fff, 3046px 799px #fff,
    3153px 2319px #fff, 2486px 2872px #fff, 1494px 1179px #fff,
    710px 3718px #fff, 2094px 2782px #fff, 3123px 989px #fff, 2462px 3807px #fff,
    209px 248px #fff, 3653px 1917px #fff, 1315px 2907px #fff, 983px 19px #fff,
    2252px 31px #fff, 693px 2727px #fff, 2120px 3522px #fff, 1732px 1033px #fff,
    2432px 1598px #fff, 599px 3649px #fff, 513px 494px #fff, 1034px 998px #fff,
    1766px 2210px #fff, 2767px 2720px #fff, 2516px 1285px #fff,
    2806px 1593px #fff, 1500px 3722px #fff, 2898px 214px #fff,
    2736px 1993px #fff, 3620px 2053px #fff, 2815px 1862px #fff,
    3792px 3010px #fff, 990px 1032px #fff, 2494px 584px #fff, 2128px 2756px #fff,
    1227px 1537px #fff, 2635px 2453px #fff, 1166px 2408px #fff,
    2393px 2749px #fff, 976px 3372px #fff, 2130px 525px #fff, 1485px 140px #fff,
    3305px 1750px #fff, 200px 1865px #fff, 2520px 1594px #fff, 744px 3202px #fff,
    3333px 1711px #fff, 1971px 440px #fff, 1429px 1699px #fff,
    3315px 1763px #fff, 3771px 1205px #fff, 2005px 877px #fff, 200px 875px #fff,
    3280px 750px #fff, 592px 1357px #fff, 3521px 2643px #fff, 1780px 2924px #fff,
    279px 2987px #fff, 1596px 1762px #fff, 2604px 2783px #fff, 3677px 315px #fff,
    3812px 3242px #fff, 1208px 3221px #fff, 3768px 2013px #fff, 134px 880px #fff,
    2121px 3577px #fff, 2295px 3554px #fff, 2005px 352px #fff, 2095px 22px #fff,
    1309px 565px #fff, 1731px 1742px #fff, 1796px 1693px #fff,
    2562px 1641px #fff, 156px 2973px #fff, 3524px 3093px #fff, 890px 37px #fff,
    2140px 1566px #fff, 3549px 3330px #fff, 2403px 1422px #fff,
    974px 1125px #fff, 691px 226px #fff, 3574px 1583px #fff, 2865px 3648px #fff,
    2256px 1501px #fff, 2928px 2407px #fff, 912px 115px #fff, 1198px 3818px #fff,
    3803px 3369px #fff, 604px 66px #fff, 3435px 346px #fff, 3680px 2984px #fff,
    314px 546px #fff, 3569px 2229px #fff, 1693px 441px #fff, 1984px 3565px #fff,
    1652px 2253px #fff, 1561px 3305px #fff, 865px 2557px #fff,
    3659px 3364px #fff, 2127px 372px #fff, 924px 3780px #fff, 591px 3222px #fff,
    1305px 1183px #fff, 473px 159px #fff, 2394px 2542px #fff, 828px 3255px #fff,
    2308px 3713px #fff, 2464px 1561px #fff, 2964px 3834px #fff,
    3218px 3106px #fff, 2798px 1879px #fff, 3041px 1400px #fff,
    2592px 2760px #fff, 3370px 3100px #fff, 488px 2482px #fff, 2215px 881px #fff,
    969px 3829px #fff, 3832px 536px #fff, 2493px 1128px #fff, 2895px 2342px #fff,
    119px 3019px #fff, 176px 3141px #fff, 1904px 3120px #fff, 1586px 946px #fff,
    127px 1792px #fff, 3743px 3071px #fff, 2364px 2390px #fff, 3771px 939px #fff,
    1032px 1264px #fff, 377px 1892px #fff, 508px 2270px #fff, 3614px 260px #fff,
    2461px 553px #fff, 3049px 3591px #fff, 1926px 2041px #fff, 3666px 243px #fff,
    1189px 3154px #fff, 1093px 279px #fff, 722px 754px #fff, 21px 3084px #fff,
    1471px 1798px #fff, 1745px 2524px #fff, 1518px 2075px #fff,
    1909px 1303px #fff, 3485px 1262px #fff, 2478px 2680px #fff,
    3790px 3747px #fff, 1289px 1124px #fff, 2189px 2623px #fff,
    1022px 3784px #fff, 2790px 1743px #fff, 651px 3326px #fff,
    1697px 3546px #fff, 3212px 1137px #fff, 1198px 2615px #fff,
    2347px 2005px #fff, 3532px 3593px #fff, 884px 2760px #fff,
    1705px 2188px #fff, 403px 3757px #fff, 1931px 575px #fff, 598px 1404px #fff,
    3075px 827px #fff, 142px 3136px #fff, 3201px 2453px #fff, 2532px 371px #fff,
    2534px 1694px #fff, 1545px 948px #fff, 2818px 3829px #fff,
    1704px 2473px #fff, 2395px 2608px #fff, 3740px 3802px #fff,
    345px 2816px #fff, 3773px 2429px #fff, 1051px 1565px #fff,
    1075px 1422px #fff, 1587px 3721px #fff, 3045px 662px #fff,
    1782px 1831px #fff, 2790px 716px #fff, 2966px 3236px #fff, 2659px 520px #fff,
    2804px 2736px #fff, 2848px 2663px #fff, 3534px 1069px #fff,
    3203px 1247px #fff, 3509px 529px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 3523px 1537px #fff, 1851px 3422px #fff, 353px 3464px #fff,
    3786px 1887px #fff, 400px 2111px #fff, 1616px 3328px #fff,
    2172px 2291px #fff, 2246px 2394px #fff, 609px 1488px #fff, 261px 2303px #fff,
    2350px 3115px #fff, 2021px 1615px #fff, 2580px 2879px #fff,
    1529px 2515px #fff, 326px 3186px #fff, 2040px 3819px #fff, 406px 2718px #fff,
    1855px 22px #fff, 2432px 1820px #fff, 1045px 854px #fff, 340px 619px #fff,
    3718px 3705px #fff, 250px 1348px #fff, 1029px 3834px #fff,
    1506px 2187px #fff, 2781px 2243px #fff, 571px 1062px #fff, 1230px 253px #fff,
    2019px 592px #fff, 1623px 3191px #fff, 3172px 1807px #fff,
    1547px 2357px #fff, 1644px 1232px #fff, 3807px 3115px #fff,
    271px 2101px #fff, 2389px 1028px #fff, 2193px 1103px #fff, 768px 1634px #fff,
    409px 3191px #fff, 664px 2944px #fff, 1626px 1545px #fff, 3569px 3254px #fff,
    2010px 686px #fff, 460px 1895px #fff, 2695px 576px #fff, 3357px 3299px #fff,
    3500px 3223px #fff, 3769px 1913px #fff, 1252px 2510px #fff, 29px 949px #fff,
    2745px 2224px #fff, 2668px 1895px #fff, 929px 2794px #fff, 2269px 955px #fff,
    426px 2881px #fff, 3381px 1189px #fff, 531px 1252px #fff, 1919px 1426px #fff,
    1399px 1374px #fff, 207px 1364px #fff, 1558px 647px #fff, 1522px 2647px #fff,
    1308px 1038px #fff, 1977px 3499px #fff, 3159px 2963px #fff,
    1549px 1742px #fff, 258px 425px #fff, 726px 2387px #fff, 333px 3518px #fff,
    3229px 1597px #fff, 458px 177px #fff, 1740px 3700px #fff, 2243px 2894px #fff,
    452px 655px #fff, 2413px 2228px #fff, 60px 1872px #fff, 3347px 832px #fff,
    794px 2526px #fff, 954px 2227px #fff, 2870px 2709px #fff, 1434px 2870px #fff,
    3472px 3010px #fff, 3798px 3006px #fff, 1993px 2559px #fff,
    1187px 976px #fff, 1453px 2692px #fff, 3466px 1696px #fff, 220px 1855px #fff,
    3230px 499px #fff, 1906px 3533px #fff, 1785px 1638px #fff,
    3163px 2279px #fff, 3561px 1107px #fff, 1076px 1675px #fff,
    1590px 968px #fff, 1754px 134px #fff, 2277px 2929px #fff, 2195px 989px #fff,
    3598px 3809px #fff, 327px 140px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 3523px 1537px #fff, 1851px 3422px #fff, 353px 3464px #fff,
    3786px 1887px #fff, 400px 2111px #fff, 1616px 3328px #fff,
    2172px 2291px #fff, 2246px 2394px #fff, 609px 1488px #fff, 261px 2303px #fff,
    2350px 3115px #fff, 2021px 1615px #fff, 2580px 2879px #fff,
    1529px 2515px #fff, 326px 3186px #fff, 2040px 3819px #fff, 406px 2718px #fff,
    1855px 22px #fff, 2432px 1820px #fff, 1045px 854px #fff, 340px 619px #fff,
    3718px 3705px #fff, 250px 1348px #fff, 1029px 3834px #fff,
    1506px 2187px #fff, 2781px 2243px #fff, 571px 1062px #fff, 1230px 253px #fff,
    2019px 592px #fff, 1623px 3191px #fff, 3172px 1807px #fff,
    1547px 2357px #fff, 1644px 1232px #fff, 3807px 3115px #fff,
    271px 2101px #fff, 2389px 1028px #fff, 2193px 1103px #fff, 768px 1634px #fff,
    409px 3191px #fff, 664px 2944px #fff, 1626px 1545px #fff, 3569px 3254px #fff,
    2010px 686px #fff, 460px 1895px #fff, 2695px 576px #fff, 3357px 3299px #fff,
    3500px 3223px #fff, 3769px 1913px #fff, 1252px 2510px #fff, 29px 949px #fff,
    2745px 2224px #fff, 2668px 1895px #fff, 929px 2794px #fff, 2269px 955px #fff,
    426px 2881px #fff, 3381px 1189px #fff, 531px 1252px #fff, 1919px 1426px #fff,
    1399px 1374px #fff, 207px 1364px #fff, 1558px 647px #fff, 1522px 2647px #fff,
    1308px 1038px #fff, 1977px 3499px #fff, 3159px 2963px #fff,
    1549px 1742px #fff, 258px 425px #fff, 726px 2387px #fff, 333px 3518px #fff,
    3229px 1597px #fff, 458px 177px #fff, 1740px 3700px #fff, 2243px 2894px #fff,
    452px 655px #fff, 2413px 2228px #fff, 60px 1872px #fff, 3347px 832px #fff,
    794px 2526px #fff, 954px 2227px #fff, 2870px 2709px #fff, 1434px 2870px #fff,
    3472px 3010px #fff, 3798px 3006px #fff, 1993px 2559px #fff,
    1187px 976px #fff, 1453px 2692px #fff, 3466px 1696px #fff, 220px 1855px #fff,
    3230px 499px #fff, 1906px 3533px #fff, 1785px 1638px #fff,
    3163px 2279px #fff, 3561px 1107px #fff, 1076px 1675px #fff,
    1590px 968px #fff, 1754px 134px #fff, 2277px 2929px #fff, 2195px 989px #fff,
    3598px 3809px #fff, 327px 140px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
